@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Shrikhand&display=swap');
@import url("./header.css");
@import url("./footer.css");

$couleur_primaire:#9356DC;
$couleur_secondaire:#FF79DA;
$couleur_tertiaire:#99E2D0;
$couleur_blanche:#FFFFFF;
$couleur_grise:#F2F2F2;

*,
::before,
::after{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

a{
        text-decoration: none;
}

.title{
        font-family: 'Shrikhand', cursive;
}

img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 300px;
} 

body{
        background-color: aquamarine;
        font-family: 'Roboto Condensed', sans-serif;
}

.localisation{
        background-color: $couleur_grise;
        justify-content: center;
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;

        &__icon{
           font-size: 14px;
        }
        &__ville{
                text-align: center;
                margin-left: 15px;
        }
}

.nouveau{
        background-color: $couleur_tertiaire   
}

.baniere{
        padding-top: 25px;
        padding-bottom: 25px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        &__title{
                text-align: center;
        }
        &__paragraphe{
                text-align: center;
        }
        &__explorer{
                display: flex;
                align-items: center;
                justify-content: center;
                height:40px;
                width: 40%;
                border-radius: 40px;
                max-width: 200px;
                text-align: center;
                margin-top:15px ;
                background-color: $couleur_secondaire;
                color: $couleur_blanche;
        }
}
.fonctionnement{
        background-color: $couleur_blanche;
        padding: 25px 15px;
        &__chosissez{
                background-color:$couleur_grise;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 10px 0 10px 0px;
                height: 50px;
                border-radius: 20px;
                position: relative;
                &__numero{
                        position: absolute;
                        background-color: $couleur_primaire;
                        width: 20px;
                        text-align: center;
                        border-radius: 50%;
                        color: $couleur_blanche;
                        padding: 3px;
                        left: -10px;
                }
        }

}
.restaurant{
        background-color:$couleur_grise;
        .restaurant__br{
                border-radius: 15px;
                background-color:$couleur_blanche;
                &__nouveau{
                        background-color: $couleur_tertiaire;
                        display: inline-block;
                        padding: 10px;
                }
        }
        .palette_text{
                display: flex;
                justify-content: space-between;
        }
}
.liens{
        position: relative;
        .nouveau{
                position: absolute;
                top: 5px;
                right: 10px;
        }
}